# No settings & config files
.vscode/**
.eslintrc.json
.gitignore
jsconfig.json

# DOCUMENTATION 
#No github templates
.github/*
doc/*

# TEST Artefacts 
.vscode-test/**
#no tests
test/**

# BUILD Artefacts 
# do not include the map files 
**/*.map

# No native_modules; they have been added to the node_modules folder
native_modules

# no achive/zip or locally built .vsix files in to root
*.vsix
*.zip

# DEV DEPENDENCIES 
# do not include pwsh install module
node_modules/pwsh
