name: Build Pymakr

on:
  pull_request: ~
  push: ~
  schedule:
    - cron: "* * 1 * *"

jobs:
  build:
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        electron-ver: [6.1.2, 7.1.1]
    steps:
      - uses: actions/checkout@v1

      - name: Setup node
        uses: actions/setup-node@v1.2.0
        with:
          node-version: "12"

      - name: Install Dependencies
        shell: bash
        run: |
          npm install npx
          npm add prebuild-install --save-dev
          npm install --no-audit

      - name: Update Native Modules
        run: npm run download-native

      # TODO
      # - name: Test Bindings

      # generic all up electron test
      - name: Test Bindings
        run: npx xvfb-maybe -e /dev/stdout -a npm run test-electron -- ${{ matrix.electron-ver }}

      # No tests written :(
      # - name: Run Tests
      #   run: npm run test

      - name: Package Extension
        run: npx vsce package -o pymakr-${{ github.sha }}.vsix

      - name: Upload VSIX
        if: github.event_name == 'schedule'
        uses: actions/upload-artifact@master
        with:
          name: pymakr-nightly.vsix
          path: ./pymakr-${{ github.sha }}.vsix

  deploy:
    name: Publish
    needs: build
    # if current branch name contains release and is not a PR
    if: contains(github.ref, 'release') && github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Install Production Dependencies
        run: |
          npm ci
          npm prune --production

      - name: Package Extension
        run: npx vsce package

      - name: Publish Extension
        run: npx vsce publish --pat ${{ secrets.VSCE_TOKEN }}
